.signup {
  background-color: var(--color-primary);
  min-height: 100vh;
}

.signupHeader {
  font-size: var(--font-lg);
  font-weight: bold;
  text-align: center;
  padding: var(--spacing-lg);
}

.signupContainer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-lg);
}

.signupForm {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
  min-width: 400px;
  max-width: 800px;
  width: 50%;
  gap: var(--spacing-md);
}

.signupBtn {
  text-align: center;
  margin-top: var(--spacing-lg);
}

.signupBtn p {
  padding-top: var(--spacing-md);
}

.signupLink {
  text-decoration: none;
  font-weight: 500;
}
